.comment-card-container {
  width: 100%;
}

.comment-section {
  width: 100%;
  background-color: var(--White);
  border-radius: 10px;
}

.card {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 4fr;
  grid-template-areas:
    "avartar user-name time "
    "comment comment comment"
    "like-container like-container reply";
  padding: 1em;
  margin-top: 0.5em;
  width: 100%;
}

.user-avartar {
  grid-area: avartar;
  height: 2em;
  width: 2em;
  border-radius: 50%;
}

.user-name {
  grid-area: user-name;
  color: var(--Dark-blue);
  padding-right: 1em;
  margin-left: 0.5em;
}

.time {
  grid-area: time;
  font-size: 13px;
  color: var(--Grayish-Blue);
  padding-top: 0.3rem;
}

.comment-message-container {
  grid-area: comment;
}

.comment-message {
  padding: 1em 0;
  width: 100%;
  font-size: 16px;
  color: var(--Grayish-Blue);
  font-weight: 400;
  line-height: 1.3em;
}

.like-btn-continer {
  grid-area: like-container;
}

.like-btn-continer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Light-gray);
  padding: 0.5em;
  width: 6em;
  border-radius: 10px;
}

#numbers-of-like {
  color: var(--Moderat-blue);
  font-size: 18px;
}

.btn-delete-edit-reply-container {
  grid-area: reply;
  display: flex;
  justify-content: flex-end;
  color: var(--Moderat-blue);
}

.btn {
  font-size: 16px;
  font-weight: 700;
}

.btn:hover {
  opacity: 0.6;
}

.btn-delete-edit-reply-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.btn-reply {
  color: var(--Moderat-blue);
}

.btn-delete {
  color: var(--Soft-Red);
}

.btn-edit {
  color: var(--Moderat-blue);
}

@media (min-width: 735px) {
  .comment-message {
    padding-right: 2em;
  }

  .like-btn-continer div {
    flex-direction: column;
    width: 2.2em;
  }

  .card {
    grid-template-areas:
      "like-container  avartar user-name  time reply"
      "like-container comment comment   comment comment"
      "like-container comment comment comment comment";
    grid-template-columns: 1fr 1fr 1.2fr 5fr 1fr;
  }
}
