* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.form-control {
  background-color: var(--White);
  padding: 1em;
  margin-top: 1em;
  border-radius: 10px;
}

textarea {
  min-height: 6em;
  width: 100%;
  border: 0.5px solid var(--Moderat-blue);
  padding: 0.5em;
  border-radius: 10px;
}

textarea:focus {
  border: 0.5px solid var(--Moderat-blue);
}

.form-control div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.btn-submit {
  background-color: var(--Moderat-blue);
  color: var(--White);
  border-radius: 10px;
  height: 2.5em;
  width: 5em;
}
